body{
    background-color: rgb(37, 37, 37);
}
.message{
    margin-top: 3%;
    text-align: center;
}
.img{
    width: 125px;
    height: 125px;
    margin-bottom: 2%;
}
h1{
    margin-top: 2%;
    color: aliceblue;
    font-family: monospace;
    margin-bottom: 2%;
    font-size: 2rem;
}
h3{
    font-family: monospace;
    margin-top: 4%;
    color:aliceblue;

}
p{  
    font-family: monospace;
    text-align: center;
    font-size: larger;
    margin-left: 25%;
    margin-right: 25%;
    color: aquamarine;
}
.line{
    margin-bottom: 3%;
    margin-left: 20%;
    margin-right: 20%;
}
.line1{
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
}
.contact{
    color:blanchedalmond;
}